<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand", id: "navbar-title"  do %>
      💡 neuralysis
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if doctor_signed_in? %>
          <li class="nav-item active align-navbar-item">
            <%= link_to "Home", "/", class: "nav-link", id:"nav-link-home" %>
          </li>
          <li class="nav-item align-navbar-item">
            <%= link_to "Patients", "/patients", class: "nav-link", id:"nav-link-patients" %>
          </li>
          <li class="nav-item align-navbar-item">
            <%= link_to "Norms", "/norms", class: "nav-link", id:"nav-link-norms" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "sam_photo.png", class: "user-pic dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_doctor_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_doctor_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
