<div class="container mt-3">
  <%= simple_form_for(@patient) do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :age %>
    <%= f.input :study_level %>
    <%= f.submit %>
  <% end %>
</div>
