<div class="container mt-3">

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createPatientModal">
    Add a new Patient
  </button>

  <table class="table index-table table-striped ">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Date Of Birth</th>
      <th>Age</th>
      <th></th>
    </tr>

    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.first_name  %></td>
        <td><%= patient.last_name %></td>
        <% if patient.date_of_birth %>
          <td><%= patient.date_of_birth.strftime("%e %^b %Y") %></td>
        <% else %>
          <td>/</td>
        <% end %>
        <td><%= patient.age %></td>
        <td>
          <%= link_to patient_path(patient), target: :_blank do %>
            ➡️
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

</div>

<div class="modal fade" id="createPatientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-betwee">
        <img src="https://www.kindpng.com/picc/m/0-4052_clinical-psychology-png-transparent-png.png" class="modal-image" />
        <div class="d-flex align-items-center ms-2">
          <h5 class="modal-title" id="exampleModalLabel">Neurono</h5>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row justify-content-center">
            <div class="signup-form">
              <h2 class="mb-4">Patient</h2>
              <%= simple_form_for(@patient) do |f| %>
                <%= f.input :first_name %>
                <%= f.input :last_name %>
                <%= f.input :date_of_birth, as: :date, html5: true %>
                <%= f.input :study_level %>
                <%= f.submit %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
