<div class="container">

  <p><%= link_to '⬅ Back To Patients', patients_path, class: "back-button btn btn-ghost"%></p>

  <div class="patient-infos">
    <h1><%= @patient.first_name %> <%= @patient.last_name %></h1>
    <h5><%= @patient.date_of_birth.strftime("%e %^B %Y") %></h5>
    <h5><%= @patient.age %> years old</h5>
  </div>

  <div class="patient-content-wrapper d-flex justify-content-between">
    <div class="patient-reports">
      <p>Find here all the patient's reports.</p>
    </div>
    <div class="patient-new-evaluation">
      <h3>Create a new Evaluation</h3>
        <% @groups.each do |group| %>
          <div class="group-name"><%= group.name %></div>
        <% end %>
    </div>
  </div>
  <div class="patient-evaluations">
    <h3>All Evaluations</h3>
    <table class="table evaluations-table table-striped ">
      <tr>
        <th>Date</th>
        <th>Test Name</th>
        <th>Score Brut</th>
        <th>Score Z (ét)</th>
        <th>Percentile</th>
      </tr>

      <% @evaluations.each do |evaluation| %>
        <tr>
          <td><%= evaluation.created_at.strftime("%e %^b %Y") %></td>
          <td><%= evaluation.norm.name  %></td>
          <td><%= evaluation.score %></td>
          <% if evaluation.result.kind == "Score Z" %>
            <td><strong><%= trim(evaluation.result.outcome) %></strong></td>
          <% else %>
            <td>-</td>
          <% end %>
          <% if evaluation.result.kind == "Percentile" %>
            <td><strong><%= trim(evaluation.result.outcome) %></strong></td>
          <% else %>
            <td>-</td>
          <% end %>

        </tr>
      <% end %>
    </table>
  </div>
</div>
